:root {
    --mobiGray: #31363B;
    --mobiDarkGray: #7F7F7F;
    --mobiRed: #BE1E24;
    --mobiRedActive: rgba(190, 30, 36, 0.1);
    --mobiMenuColor: linear-gradient(0deg, rgba(3, 122, 255, 0.02), rgba(3, 122, 255, 0.02)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;
    --mobiHeaderColor: linear-gradient(0deg, rgba(3, 122, 255, 0.1), rgba(3, 122, 255, 0.1)), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #FFFFFF;
    --mobiActive: #0064FF;
    --mobiAction: #037AFF;
    --linkColorRGBA: rgba(0, 100, 255, 0.04);
    --mobiLightGray: linear-gradient(0deg, rgba(3, 122, 255, 0.02), rgba(3, 122, 255, 0.02)), linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #FFFFFF;

    --menuWidth: 300px;
    --navBarHeight: 72px;
    --headerHeight: 168px;
}

body {
    background-color: #EDF0F2;
}

span .bold {
    font-weight: 700;
}

span .light {
    font-weight: 400;
}