.settings {
    width: 100%;

    position: relative;
}

.settings > .new {
    width: 200px;
}

.settings > .new#hidden {
    opacity: 0;
}

.articlesData {
    width: 100%;
    margin-top: 24px;
}

.articlesData > .title {
    font-size: 24px;
    line-height: 32px;
}

.articlesData > .content {
    margin-top: 8px;
}

.settings > .search {
    position: absolute;
    top: -26px;
    width: 300px;

    left: 222px;
}

.settings > .search#noAdd {
    position: absolute;
    top: -26px;
    width: 300px;

    left: 0px;
}