.menu {
    width: var(--menuWidth);
    height: calc(100% - var(--navBarHeight));
    background: var(--mobiMenuColor);

    position: absolute;
    top: var(--navBarHeight);
    left: 0;

    user-select: none;

}