.header {
    background: var(--mobiHeaderColor);

    width: 100%;
    height: var(--headerHeight);

    user-select: text;

    position:relative;
}

.header .title {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;

    color: white;

    padding-left: 32px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header .subtitle {
    padding-top: 24px;
    padding-left: 32px;

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: white;
}

.statusSelector {
    width: 100%;
    border-bottom: 2px solid var(--mobiRed);
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.statusSelector:hover {
    cursor: pointer;
}