.articlePreviewContent {
    --authorImageSize: 36px;

    user-select: text;
}

.articlePreviewData {
    background: white;

    padding: 24px;
}

.articlePreviewData > p >img {
    max-width: 100%;
}


.articleDate {
    text-align: right;
    margin-bottom: 4px;

    color: var(--mobiGray);
}

.articlePreviewContent > .articlePreviewHeader {
    border-bottom: 2px solid var(--mobiRed);
    width: 100%;

    padding: 8px 12px;

    background: rgba(0, 0, 0, 0.15);

    position: relative;
}

.articlePreviewContent > .articlePreviewHeader > .title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 8px;  
}

.articlePreviewContent > .articlePreviewHeader > .description {
    font-size: 18px;
    margin-bottom: 8px;
}

.articlePreviewContent > .articlePreviewHeader > .articlePreviewImage {
    float: left;
    width: 50px; 
    margin-right: 16px;
}

.articlePreviewContent > .articlePreviewHeader > .authorInfo {
    position: absolute;
    top: 20%;
    right: 12px;
}

.articlePreviewContent > .articlePreviewHeader > .authorInfo > .author {
    font-size: 16px;
    font-weight: 600;

    display: inline-block;

    margin-right: 16px;
}

.articlePreviewContent > .articlePreviewHeader > .authorInfo > .authorImage {
    width: var(--authorImageSize);

    border-radius: 4px;

    display: inline-block;
}

.articlePreviewContent > .title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 8px;  
}

.articlePreviewContent > .description {
    margin-bottom: 8px;
}

.articlePreviewContent > .authorInfo {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    background: white;

    padding-bottom: calc(var(--authorImageSize) * 2);

    position: relative;
}

.articlePreviewContent > .authorInfo > .author {

    font-size: 16px;
    font-weight: 600;

    position: absolute;

    right: calc(var(--authorImageSize) + 24px + var(--authorImageSize) / 2);
    top: calc(24px + var(--authorImageSize) / 3);
}

.articlePreviewContent > .authorInfo > .authorImage {
    width: var(--authorImageSize);

    position: absolute;

    right: 24px;

    top: 24px;

    border-radius: calc(var(--authorImageSize) / 2);
}

.tagsPreview {
    background: rgba(0, 0, 0, 0.15);
    border-top: 2px solid var(--mobiRed);

    padding: 12px 24px;

    user-select: none;
}

.tagsPreviewMenu {
    margin-top: 4px;
}

.tagsPreviewTitle {
    margin-right: 6px;

    font-weight: 600;
    font-size: 12px;
}

.tagPreview {
    display: inline-block;
    margin-right: 8px;
}

.tagPreviewLink {
    font-size: 14px;
}