.navBar {
    background-color: var(--mobiGray);
    color: white;

    height: var(--navBarHeight);

    user-select: none;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    opacity: 0.7;
    color: white;
}

.navBar .logo {
    width: 40px;
    height: 40px;

    margin-top: calc((var(--navBarHeight) - 40px) / 2);
    margin-left: 24px;
}

.navBar .logo:hover {
    cursor: pointer;
}

.navBar .title {
    margin-left: 8px;
    top: calc((var(--navBarHeight) - 22px) / 2);
    display: inline-block;
    position: absolute;
}

.navBar .title:hover {
    cursor: pointer;
}

.navBar .title span {
    font-size: 22px;
    line-height: 24px;
}

.langDropdown {
    float: right;
    top: calc((var(--navBarHeight) - var(--navBarHeight) / 2) / 2);
    right: 24px;
    position: absolute;

    z-index: 2;
}

.profileDropdown {
    float: right;
    top: calc((var(--navBarHeight) - var(--navBarHeight) / 2) / 3 - 8px);
    right: 84px;
    position: absolute;
    

    z-index: 2;
}

.username {
    font-size: 18px;
    font-weight: 600;
}

.role {
    font-size: 12px;
    font-weight: 500;
    
    text-align: right;

    display: inline-block;

}

.profile:hover {
    opacity: 0.8;
    cursor: pointer;
}
