.navBar {
    background-color: var(--mobiGray);
    color: white;

    height: var(--navBarHeight);

    user-select: none;
}

.navBar .logo {
    width: 40px;
    height: 40px;

    margin-top: calc((var(--navBarHeight) - 40px) / 2);
    margin-left: 24px;
}

.navBar .logo:hover {
    cursor: pointer;
}

.navBar .title {
    margin-left: 8px;
    top: calc((var(--navBarHeight) - 22px) / 2);
    display: inline-block;
    position: absolute;
}

.navBar .title:hover {
    cursor: pointer;
}

.navBar .title span {
    font-size: 22px;
    line-height: 24px;
}

.langDropdown {
    float: right;
    top: calc((var(--navBarHeight) - 22px) / 2);
    right: 28px;
    position: fixed;
}